body {
    margin: 0;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 20px;
}

a.btn {
    border: 3px solid black;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 8px 29px;
    width: 57px;
    height: 24px;
    text-align: center;
}

.page {
    padding-top: 200px;
    padding-bottom: 200px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.mainPage {
    background-color: #BEE4BE;
}

.mainPage .container {
    display: flex;
    justify-content: space-between;
    height: 310px;
}

.mainPageText {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.mainPageSpline {
    width: 480px;
}

.spline spline-viewer {
    height: 100%;
    width: 100%;
}

.aboutUsPage .container {
    display: flex;
    justify-content: space-between;
}

.aboutUsPageSpline {
    width: 270px;
}

.aboutUsText {
    width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalogPage {
    background-color: #BEE4BE;
}

.catalogElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.catalogElement {
    background-color: #4C9F4C;
    border-radius: 30px;
    width: 250px;
    height: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.catalogPageSpline {
    width: 230px;
    height: 180px;
}